.container {
  display: grid;
  grid-template: 75px 150px 125px 125px 250px 250px 80px / 240px 240px;
}

#a {
  grid-column: 1 / span 2;
  grid-row: 1;
  position: relative;
  background-color: #027BCE;
}

#b {
  grid-column: 1 / span 2;
  grid-row: 2;
  position: relative;
  background-color: #0172be;
}

#c {
  grid-column: 1 / span 2;
  grid-row: 3;
  position: relative;
  background-color: #0362a1;
}

#d {
  grid-column: 1 / span 2;
  grid-row: 4;
  position: relative;
  background-color: #015892;
}

#e {
  grid-column: 1;
  grid-row: 5;
  position: relative;
  background-color: rgb(146, 40, 179);
}

#f {
  grid-column: 2;
  grid-row: 5;
  position: relative;
  background-color: rgb(113, 31, 138);
}

#g {
  grid-column: 1;
  grid-row: 6;
  position: relative;
  background-color: #B80C09;
}

#h {
  grid-column: 2;
  grid-row: 6;
  position: relative;
  background-color: #a50906;
}

#i {
  grid-column: 1/ span 2;
  grid-row: 7;
  position: relative;
  background-color: rgb(21, 186, 192);
}

@media only screen and (min-width: 480px) {
  .container {
    display: grid;
    grid-template: 130px 180px 200px 200px 100px / 192px 192px 192px 192px;
  }

  #a {
    grid-column: 1 / span 4;
    grid-row: 1;
    position: relative;
    background-color: #F0F0C9 ;
  }

  #b {
    grid-column: 1 / span 2;
    grid-row: 2 /span 2;
    position: relative;
    background-color:  rgb(216, 128, 28) ;
  }

  #c {
    grid-column: 3 / span 2;
    grid-row: 2;
    position: relative;
    background-color: #08B2E3;
  }

  #d {
    grid-column: 3 / span 2;
    grid-row: 3;
    position: relative;
    background-color: #089ac2;
  }

  #e {
    grid-column: 1;
    grid-row: 4;
    position: relative;
    background-color: #C03221;
  }

  #f {
    grid-column: 2;
    grid-row: 4;
    position: relative;
    background-color:  #a32a1c;
  }

  #g {
    grid-column: 3;
    grid-row: 4;
    position: relative;
    background-color: #226F54;
  }

  #h {
    grid-column: 4;
    grid-row: 4;
    position: relative;
    background-color: #1c5d46;
  }

  #i {
    grid-column: 1 / span 4;
    grid-row: 5;
    position: relative;
    background-color: #43291F;
  }



}


@media all and (min-width: 768px) {
  .container {
    display: grid;
    grid-template: 100px 200px 250px 150px / 200px 190px 190px 190px 190px;
  }

  #a {
    grid-column: 1 / span 6;
    grid-row: 1;
    background-color: #FFD166;
  }
  #b {
    grid-column: 1;
    grid-row: 2 / span 4;
    background-color: #06D6A0;
  }
  #c {
    grid-column: 2/ span 2;
    grid-row: 2;
    background-color: #7B3E19;
  }
  #d {
    grid-column: 4/ span 2;
    grid-row: 2;
    background-color: #310a24;
  }
  #e {
    grid-column: 2;
    grid-row: 3;
    background-color: #3C91E6;
  }
  #f {
    grid-column: 3;
    grid-row: 3;
    background-color:  #03284e;
  }
  #g {
    grid-column: 4;
    grid-row: 3;
    background-color:#0d2135;
  }
  #h {
    grid-column: 5;
    grid-row: 3;
    background-color: #313d49;
  }
  #i {
    grid-column: 2/ span 4;
    grid-row: 4;
    background-color: #EF476F;
  }
}

.dark {
  background-color: rgb(112, 128, 144);
}
