body {
  width: 480px;
  margin: auto;
}

#a.dark, #b.dark, #c.dark, #d.dark, #e.dark, #f.dark, #g.dark, #h.dark, #i.dark {
  background-color: rgb(112, 128, 144);
  color: rgb(255, 255, 255);
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
}

#a {
  position: relative;
  margin-top: 20px;
  padding: 0;
  height: 75px;
  width: 480px;
  background-color: royalblue;
}

#b {
  position: relative;
  padding: 0;
  height: 150px;
  width: 480px;
  background-color: rgb(53, 87, 190);
}

#c {
  position: relative;
  padding: 0;
  height: 125px;
  width: 480px;
  background-color: rgb(41, 71, 161);
}

#d {
  position: relative;
  padding: 0;
  height: 125px;
  width: 480px;
  background-color: rgb(32, 57, 131);
}

#e {
  position: relative;
  padding: 0;
  height: 250px;
  width: 240px;
  float: left;
  background-color: rgb(146, 40, 179);
}

#f {
  position: relative;
  padding: 0;
  height: 250px;
  width: 240px;
  float: left;
  background-color: rgb(113, 31, 138);
}

#g {
  position: relative;
  padding: 0;
  height: 250px;
  width: 240px;
  float: left;
  background-color: rgb(216, 128, 28);
}

#h {
  position: relative;
  padding: 0;
  height: 250px;
  width: 240px;
  float: left;
  background-color: rgb(192, 112, 21);
}

#i {
  position: relative;
  padding: 0;
  height: 80px;
  width: 480px;
  background-color: rgb(21, 186, 192);
  float:left;
}


@media all and (min-width: 768px) {
  body {
    width: 960px;
    margin: auto;
  }
  #a {
    width: 960px;
    height: 100px;
    background-color: rgb(55, 0, 255);
  }
  #b {
    width: 200px;
    height: 600px;
    float: left;
    background-color: rgb(132, 35, 156);
  }
  #c {
    width: 380px;
    height: 200px;
    float: left;
    background-color: rgb(0, 30, 128);
  }
  #d {
    width: 380px;
    height: 200px;
    float: left;
    background-color: rgb(61, 61, 61);
  }
  #e {
    width: 190px;
    height: 250px;
    float: left;
    background-color: rgb(0, 183, 255);
  }
  #f {
    width: 190px;
    height: 250px;
    float: left;
    background-color: rgb(101, 2, 214);
  }
  #g {
    width: 190px;
    height: 250px;
    float: left;
    background-color: rgb(214, 214, 24);
  }
  #h {
    width: 190px;
    height: 250px;
    float: left;
    background-color: rgba(141, 141, 0, 0.87);
  }
  #i {
    width: 760px;
    height: 150px;
    float: left;
    background-color: rgb(238, 158, 9);
  }
}

.dark {
  background-color: rgb(111, 128, 145);
} 